@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background-image: url(./media/background.png);
    background-size: cover;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #f6bd16;
    overflow: hidden;
}

header>ul{
    margin: 0;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

header>ul>li>img{
    width: 5vw;
    height: auto;
}

header>ul>li>h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.5vw;
}

main{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mainimg{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}

.mainimg>ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    list-style: none;
}

#buho{
    width: 40vw;
    height: auto;
    padding-left: 16%;
    padding-top: 5%;
}

#underconst{
    width: 50vw;
    height: auto;
}


.socialmedia{
    width: 100vw;
    height: auto;
    padding: 0;
    text-align: center;
}

.socialmedia>h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #636363;
    font-size: 4.5vw;
    text-align: center;
}

.socialmedia>ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;    
}

.smicon{
    width: 10vw;
    height: auto;
}

#devices{
    width: 50vw;
    height: auto;
    padding-left: 2%;
}

footer{
    width: 100vw;
    height: auto;
    background-color: #f6bd16;
    overflow: hidden;
    padding-bottom: 1%;
}

footer>ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>ul>li>p{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.8vw;
    text-align: center;
}

footer>ul>li>h6{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #636363;
    font-size: 1.5vw;
}